* {
    padding: 0;
    margin: 0;
}
ul, ol, li {
    list-style-type: none;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-style: normal;
    text-align: justify;
    color: #444;
}